<section class="card">
  <a href="/exercise/{{id}}">
    <header>{{exercise.title}}</header>

    <div class="card-body">
      <img src="/images/{{exercise.filename}}" alt="{{exercise.description}}">
      <p>Add to calendar</p>
    </div>
  </a>
</section>
