<section class="card">
  <a href="/exercise/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>Add to calendar</p>
    </div>
  </a>
</section>
