{{# if loggedIn}}
<div class="container">
            <div class="row">
                <div class="col s8" id="list-view" style="margin-top: 15px;">
                </div>
</div>        
{{log this}}

{{/if}}
<script src="/js/listView.js"></script>