<form class="calender-form">
  <div>
    <input name="date" type="date" id="datepicker"></input>
  </div>

  <div>
    <button type="submit">add calender</button>
     </div>
</form>

<script src="/js/scheduler.js"></script>