<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cov-Fit</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.10.1/main.css">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.10.1/main.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.10.1/main.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600&family=Open+Sans:ital,wght@0,400;1,700&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1>COV-FIT</h1>
    <h4>STAY FIT IN THE COMFORT OF YOUR HOME</h4>
  </header>
  <nav>
    <a href="/">HOME</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">LOG OUT</button>
      <a href="/api/scheduler">SCHEDULE</a>
    {{else}}
    <a href="/login">LOG IN</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>build your own workout</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

{{#if loggedIn}}
<footer>
  <a>
    All exercise graphics copyright Lio Putra | Dreamstime.com | https://www.dreamstime.com/lioputrahard_info
  </a>
</footer>
{{/if}}

</html>
