{{!-- Front page that shows on loading site --}}
<h1>Select a muscle group</h1>
<div class="select flex-row justify-center">

    <div class="card"><a href="/workout/2"><img src="/images/upper_front.png"></a></div>
    <div class="card"><a href="/workout/3"><img src="/images/core_front.png"></a></div>
    <div class="card"><a href="/workout/1"><img src="/images/lower_front.png"></a></div>
    <div class="card"><a href="/workout/4"><img src="/images/stretch_front.jpeg"></a></div>
</div>
