{{!-- Front page that shows on loading site --}}
<h1>Select a muscle group</h1>

<div class="select">
    <img src="/images/upper_front.png">
    <img src="/images/core_front.png">
    <img src="/images/lower_front.png">
</div>
