<div class="login-card">
    <h2 class="page-title">Sign Up</h2>
    <form class="form signup-form">
      <div class="links">
        <a href="/login" class="active">Login</a>
        <a href="/signup">Sign up</a>
      </div>
      <div class="form-group">
        <label for="username-signup"></label>
        <input class="form-input" type="text" id="username-signup" placeholder="Username"/>
      </div>
      <div class="form-group">
        <label for="email-signup"></label>
        <input class="form-input" type="text" id="email-signup" placeholder="Email"/>
      </div>
      <div class="form-group">
        <label for="password-signup"></label>
        <input class="form-input" type="password" id="password-signup" placeholder="Password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign up!</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>

